* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
    width: 1020px;
	margin: 0 auto;

	font-size: 1.8rem;
	font-family: 'Lato', Arial, sans-serif;
	color: #767e9e;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/*----------HEADER----------*/

.header {
	position: relative;
	min-height: 89px;
	background-color: #2d303a;
	box-shadow: 0px 6px 0px #323746;
}

.wrapper {
	margin: 0 auto;
	width: 940px;
}

.header .wrapper {
	min-height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	position: relative;
	font-size: 2.5rem;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.header__logo::before {
	content: '*';
	position: absolute;
	top: 0;
	right: -10px;
	color: #f06c64;
}

.navigation {
	margin-top: 6px;
	display: flex;
}

.navigation__item {
	margin-left: 28px;
	line-height: 0;
}

.navigation__item:first-child {
	margin-left: 0;
}

.navigation__item:nth-child(n+2)::before {
	content: "";
	position: absolute;
	margin-left: -16px;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: #323746;
}

.navigation__link {
	font-size: 1.2rem;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.navigation__link:hover {
	color: #f06c64;
}

.navigation__link--current {
	color: #f06c64;
}

/*----------SLIDER----------*/

.slider {
	margin-bottom: 6px;
	min-height: 600px;
	background-color: #f06c64;
	box-shadow: 0px 6px 0px #ea676b;
}

.slider .wrapper {
	position: relative;
}

.slider__images {
	position: relative;
	min-height: inherit;
}

.slider__image {
	position: absolute;
}

.slider__image--phone-vertical {
	top: 59px;
	left: 72px;
}

.slider__image--phone-horizontal {
	top: 181px;
	right: 72px;
}

.slider__phone-background {
	z-index: 10;
}

.slider__phone-background--vertical {
	top: 124px;
	left: 86px;
	
}

.slider__phone-background--horizontal {
	top: 194px;
	right: 162px;
}

.slider__button {
	position: absolute;
	top: 286px;
	width: 16px;
	height: 27px;
	background: url('./assets/img/slider-arrow.png') no-repeat;
	cursor: pointer;
	border: none;
	outline: none;
}

.slider__button--left {
	left: 2px;
}

.slider__button--right {
	right: 0;
	transform: rotate(-180deg);
}

/*-----------SERVICES-----------*/

.services {
	margin-bottom: 6px;
	min-height: 494px;
	background-color: #f2f2f2;
	box-shadow: 0px 6px 0px #fff;
}

.services__title {
	margin-top: 62px;
	display: inline-block;
	font-size: 3rem;
	line-height: 3rem;
	font-weight: 900;
	color: #666d89;
}

.services__text {
	margin-top: 20px;
	line-height: 3rem;
	font-weight: 300;
	letter-spacing: -.03px;
}

.layout-3-columns {
	margin-top: 42px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service {
	display: flex;
	justify-content: space-between;
	width: 300px;
}

.service:nth-child(n+4) {
	margin-top: 29px;
}

.service__wrapper {
	width: 220px;
}

.service__title {
	font-size: 1.8rem;
	line-height: 1.8rem;
	font-weight: 900;
	color: #666d89;
}

.service__text {
	margin-top: 13px;
	font-size: 1.2rem;
	line-height: 2.156rem;
	font-weight: 400;
}

.icon-square {
	margin-top: 2px;
	display: block;
	width: 60px;
	height: 60px;
}

.icon-square--pensil {
	background: url('./assets/img/services-item-1.svg') no-repeat;
}

.icon-square--lamp {
	background: url('./assets/img/services-item-2.svg') no-repeat;
}

.icon-square--heart {
	background: url('./assets/img/services-item-3.svg') no-repeat;
}

.icon-square--device {
	background: url('./assets/img/services-item-4.svg') no-repeat;
}

.icon-square--idea {
	background: url('./assets/img/services-item-5.svg') no-repeat;
}

.icon-square--star {
	background: url('./assets/img/services-item-6.svg') no-repeat;
}
