* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
    width: 1020px;
	margin: 0 auto;

	font-size: 1.8rem;
	font-family: 'Lato', Arial, sans-serif;
	color: #767e9e;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	margin: 0 auto;
	width: 940px;
}

.portfolio {
    margin-bottom: 6px;
    min-height: 864px;
    background-color: #2d303a;
    box-shadow: 0px 6px 0px #323746;
}

.portfolio__title {
    padding-top: 60px;
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
}

.portfolio__text {
    margin-top: 20px;
    line-height: 3rem;
    font-weight: 300;
}

.portfolio__buttons {
    margin-top: 13px;
}

.portfolio__button {
    margin-right: 10px;
    padding: 0 6px;
    font-size: 1.2rem;
    line-height: 2.156rem;
    font-weight: 400;
    color: inherit;
    background-color: inherit;
    border: 1px solid #767e9e;
    border-radius: 5px;
    outline: none;
}

.portfolio__button:last-child {
    margin-right: 0;
}

.portfolio__button--current {
    color: #dedede;
}

.layout-4-columns {
    margin-top: 19px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    max-height: 610px;
    overflow: hidden;
}

.gallery__item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;
    height: 187px;
}

.gallety__image {
    width: 220px;
    height: 187px;
}

.gallery__item:nth-child(4n) {
    margin: 0;
}