* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
    width: 1020px;
	margin: 0 auto;

	font-size: 1.8rem;
	font-family: 'Lato', Arial, sans-serif;
	color: #767e9e;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 940px;
}

.quote {
	margin-bottom: 6px;
	min-height: 648px;
	background-color: #f06c64;
	box-shadow: 0px 6px 0px #ea676b;
}

.quote__title {
	padding-top: 68px;
	font-size: 3rem;
	line-height: 1.786rem;
	font-weight: 900;
	color: #f0d8d9;
	letter-spacing: -.1px;
}

.quote__text {
	margin-top: 30px;
	font-weight: 300;
	line-height: 3rem;
	color: #f0d8d9;
	letter-spacing: -.21px;
	text-align: justify;
}

.layout-2-columns {
	margin-top: 42px;
	display: flex;
	justify-content: space-between;
}

.form-quote {
	width: 619px;
	display: flex;
	flex-direction: column;
}

.form-quote__item {
	color: #f48c8f;
	margin-bottom: 16px;
	background-color: #d6564f;
	border-radius: 5px;
	border: none;
	outline: none;
	overflow: hidden;
}

.form-quote__item:last-child {
	margin-bottom: 0;
}

.form-quote__item[placeholder] {
	font-family: 'Lato';
	padding: 13px 15px 11px 15px;
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-weight: 400;
}

.form-quote__textarea {
	height: 202px;
	resize: none;
}

.form-quote__button {
	padding: 10px 15px;
	width: max-content;
	color: #f0d8d9;
	cursor: pointer;
}

.form-quote__button:hover {
	color: #767e9e;
}

.information {
	width: 300px;
	font-size: 1.2rem;
	line-height: 2.156rem;
	font-weight: 400;
	color: #f0d8d9;
}

.information__title {
	font-size: 1.8rem;
	line-height: 1.786rem;
	font-weight: 900;
	letter-spacing: -.09px;
}

.information__text {
	margin-top: 12px;
	text-align: justify;
	letter-spacing: -.139px;
}

.information-list {
	margin-top: 24px;
}

.information-list__link {
	position: relative;
	padding-left: 23px;
	color: inherit;
	letter-spacing: -.17px;
}

.information-list__link:hover {
	color: #767e9e;
}

.information-list__link::before {
	content: '';
	position: absolute;
	left: 0;
  	top: 50%;
  	transform: translate(0, -50%);
	width: 13px;
	height: 11px;
	background-repeat: no-repeat;
}

.information-list__link--location::before {
	background-image: url('./assets/img/form/location.svg');
	background-position: center center;
}

.information-list__link--phone::before {
	background-image: url('./assets/img/form/phone.svg');
	background-position: center center;
}

.information-list__link--mail::before {
	background-image: url('./assets/img/form/mail.svg');
	background-position-y: 3.5px;
}

.footer {
	min-height: 76px;
	background-color: #2d303a;
}

.footer .wrapper {
	min-height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	font-size: 1.2rem;
	line-height: 2.156rem;
	font-weight: 400;
}

.footer__icons {
	display: flex;
}

.footer__link {
	margin-right: 8px;
	width: 32px;
	height: 32px;
}

.footer__link:last-child {
	margin-right: 0;
}

.footer__social-icon {
	display: block;
	width: 32px;
	height: 32px;
	border: 1px solid #767e9e;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.footer__social-icon:hover {
	border-color: #f06c64;
}

.footer__social-icon--facebook {
	background-image: url('./assets/img/icons/icon-facebook.svg');
}

.footer__social-icon--google {
	background-image: url('./assets/img/icons/icon-google.svg');
}

.footer__social-icon--twitter {
	background-image: url('./assets/img/icons/icon-twitter.svg');
}

.footer__social-icon--linkedin {
	background-image: url('./assets/img/icons/icon-linkedin.svg');
}