$text-color: #767e9e;
$text-color2: #666d89;
$main-background: #2d303a;
$pink-background: #f06c64;
$portfolio-hover-color: #dedede;
$quote-text-color: #f0d8d9;
$quote-main-color: #f48c8f;

$tablet-width: 1019px;
$mobile-width: 767px;
$small-mobile-width: 374px;
