.information {
  width: calc(300 / 940 * 100%);
  font-size: 1.2rem;
  line-height: 2.156rem;
  font-weight: 400;
  color: $quote-text-color;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: calc(87.04 / 1020 * 100vw);
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.786rem;
    font-weight: 900;
    letter-spacing: -0.09px;
  }

  &__text {
    margin-top: 12px;
    text-align: justify;
    letter-spacing: -0.139px;

    @media (max-width: $mobile-width) {
      margin-top: calc(18.6 / 1020 * 100vw);
    }
  }

  &-list {
    margin-top: 24px;

    @media (max-width: $mobile-width) {
      margin-top: calc(18.6 / 1020 * 100vw);
    }

    &__link {
      position: relative;
      padding-left: 23px;
      color: inherit;
      letter-spacing: -0.17px;

      &:hover {
        color: $text-color;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 13px;
        height: 11px;
        background-repeat: no-repeat;
      }

      &--location::before {
        background-image: url("./assets/img/form/location.svg");
        background-position: center center;
      }

      &--phone::before {
        background-image: url("./assets/img/form/phone.svg");
        background-position: center center;
      }

      &--mail::before {
        background-image: url("./assets/img/form/mail.svg");
        background-position-y: 3.5px;
      }
    }
  }
}
