.slider {
	margin-top: 89px;
	margin-bottom: 6px;
	min-height: 594px;
	background: $pink-background;
	box-shadow: 0px 6px 0px #ea676b;

	@media (max-width: $tablet-width) {
		min-height: calc(594 / 1020 * 100vw)
	}

	&--slide-background {
		background: #648bf0;
		box-shadow: 0px 6px 0px #647bf0;
	}

	& .wrapper {
		position: relative;
		min-height: inherit;
	}

	&__images {
		position: relative;
		min-height: inherit;

		animation-name: fade;
		animation-duration: 1.5s;
	}

	&__image {
		position: absolute;

		&--phone-vertical {
			top: 53px;
			left: 72px;

			@media (max-width: $tablet-width) {
				top: calc(53 / 1020 * 100vw);
				left: calc(72 / 1020 * 100vw);
				width: calc(240 / 1020 * 100%);
			}
		}

		&--phone-horizontal {
			top: 175px;
			right: 72px;

			@media (max-width: $tablet-width) {
				top: calc(175 / 1020 * 100vw);
				right: calc(72 / 1020 * 100vw);
				width: calc(483 / 1020 * 100%)
			}
		}

		&--hidden {
			display: none;
		}
	}

	&__image2 {
		position: absolute;
		top: 40.5px;
		left: 211.5px;
		
		@media (max-width: $tablet-width) {
			top: calc(40.5 / 1020 * 100vw);
			left: calc(211.5 / 1020 * 100vw);
			width: calc(517 / 1020 * 100%);
		}
	}

	&__phone-background {
		z-index: 10;

		&--vertical {
			top: 118px;
			left: 86px;

			@media (max-width: $tablet-width) {
				top: calc(112 / 1020 * 100vw);
				left: calc(86 / 1020 * 100vw);
				width: calc(188 / 1020 * 100%)
			}
		}

		&--horizontal {
			top: 188px;
			right: 162px;

			@media (max-width: $tablet-width) {
				top: calc(187 / 1020 * 100vw);
				right: calc(154 / 1020 * 100vw);
				width: calc(333 / 1020 * 100%);
			}
		}
	}

	&__button {
		position: absolute;
		top: 280px;
		width: 16px;
		height: 27px;
		background: url('./assets/img/slider-arrow.png') no-repeat;
		cursor: pointer;
		border: none;
		outline: none;

		@media (max-width: $tablet-width) {
			top: calc(280 / 1020 * 100vw);
		}

		&--left {
			left: 2px;
		}

		&--right {
			right: 0;
			transform: rotate(-180deg);
		}
	}
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}